body {
  background-color: white;
  padding-top: 70px;
  /* scroll-padding-top: 70px; */
}

/* @media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
} */

/* body { padding-top: 40px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
} */

header {
  background-color: white;
  text-align: center;
}

/* .fan {
  border: black solid 1px;
  font-size: 1.5rem;
} */

h3 {
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;

}

h4 {
  /* margin-bottom: 1.5rem;
  margin-top: 1.5rem; */
  /* text-align: center; */
  font-family: 'Fugaz One', cursive;
  /* border: solid black 1px; */
  padding: 1rem;
  color: white;
  -webkit-text-stroke: 1.5px #000000;
  font-size: 1.75rem;
}

.container {
  
  width: 100%;
  max-width: 650px;
  overflow: hidden
}

/* .middle {
    border-left: black solid 1px;
    width: 60px
} */
  
.container-footer {
  width: auto;
  max-width: 680px;
  padding: 0 0px;
}

.footer {
  background-color: #23395d;
  text-align: center;

}  

.navbar .in .nav li {
   display: block;
   float: none;
   width:100%;
}

.navbar {
  background-color: #23395d;  
}

.collapse:before {
  height: 100%
}

.btn {
  font-size: 1.11rem;
  margin-top: 20px;
  margin-bottom: 20px;
  width:100%;
  text-align: center;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.navbar-brand {
  font-size: 2rem;
  font-family: 'Righteous', cursive;
  color: #FDFDFD;
}

.header_hbp {
  margin-top: 2rem;
}

.section {
  margin-top: 20px;
  border: black solid 1px;
  padding: 1rem;
}

/* .maint_req {
  text-align: right
} */

.cal {
  max-width: 500px;
}

/* .btn-rt {
  float: right;
  overflow:hidden */
  /* position: absolute; right: 0;
} */

/* .col-sm {
  text-align: center;
} */

.nav-link {
  color: #FDFDFD;
}

a:hover {
  color: #ffba3b;
}

/* .section-divide {
  height: 5rem;
  display: none
} */

.navbar-toggler-icon {
  color: black;
}

.btn-warning {
  color: white;
  background-color: #ff9000;
}

/* a {
  width: 100%;
  max-width: 400px;
} */

/* section:before {
    height: 54px;
    content: "";
    display:block;
} */

/* .offset {
    height: 54px;
} */

/* .section-anchor {
  position: absolute;
  top: -@navbar-size;
} */

#maint-req {
  overflow:wrap;
  padding:0px;
}

#gas-btn {
  font-style: italic;
}

#electric-btn {
  font-style: italic;
}

#sched-header {
  font-size: 3rem;
}