body {
  background-color: white;
  padding-top: 70px;
  /* scroll-padding-top: 70px; */
}

/* @media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
} */

/* body { padding-top: 40px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
} */

h4 {
  font-family: 'Fugaz One', cursive;
  border: solid black 1px;
  padding: 1rem;
  color: white;
  -webkit-text-stroke: 1.5px #000000;
  font-size: 2.5rem;
}

.container {
  
  width: 100%;
  max-width: 650px;
  overflow: hidden
}

/* .middle {
    border-left: black solid 1px;
    width: 60px
} */
  
.container-footer {
  width: auto;
  max-width: 680px;
  padding: 0 0px;
}

.footer {
  background-color: #23395d;
  text-align: center;

}  

.navbar .in .nav li {
   display: block;
   float: none;
   width:100%;
}

.navbar {
  background-color: #23395d;  
}

.collapse:before {
  height: 100%
}

.btn {
  font-size: 1.25rem;
  /* margin-top: 20px;
  margin-bottom: 20px; */
  width:100%;
  text-align: center;
  padding: 1rem;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Fugaz One', cursive;
  /* font-weight: bold; */
  -webkit-text-stroke: .5px #000000;
  /* color:white; */

}

.navbar-brand {
  font-size: 2rem;
  font-family: 'Righteous', cursive;
  color: #FDFDFD;
}

.header_hbp {
  margin-top: 2rem;
}

.section {
  margin-top: 20px;
  border: black solid 1px;
  padding: 1rem;
}

.cal {
  max-width: 500px;
}

.nav-link {
  color: #FDFDFD;
}

a:hover {
  color: #ffba3b;
}

.navbar-toggler-icon {
  color: black;
}

.btn-warning {
  color: white;
  background-color: #ff9000;
}

#maint-req {
  overflow:wrap;
  padding:0px;
}

#gas-btn {
  font-style: italic;
}

#electric-btn {
  font-style: italic;
}

#sched-header {
  font-size: 3rem;
}

#arrow {
  font-size: 5rem;
}

